
<div *ngIf="!(NewMode || EditMode) else NewOrEditMode" class="row">
    <div class="col-8">
        <div *ngIf="ParamType && ParamType == contactParamPhone" class="row">
            <mat-icon>phone</mat-icon>
            <a  [href]="'tel:' + ParamValue">{{ ParamValue }}</a>
        </div>
    
        <div *ngIf="ParamType && ParamType == contactParamEmail" class="row">
            <mat-icon>email</mat-icon>
            <a [href]="'mailto:' + ParamValue">{{ ParamValue }}</a>
        </div>
    
        <div *ngIf="ParamType && ParamType == contactParamFacebook" class="row">
            <mat-icon>facebook</mat-icon>
            <a [href]="ParamValue">Zobacz nas na Facebooku</a>
        </div>
    </div>
    <div class="button-div col-2">
        <button *ngIf="usersService.userHasStarszyEdytorPermission" class="btn btn-outline-primary" (click)="editValuesClick()" ><i class="bi bi-pencil-fill"></i></button>
    </div>
    <div class="button-div col-2">
        <button *ngIf="usersService.userHasStarszyEdytorPermission" class="btn btn-outline-danger" (click)="deleteParametrClick()"><i class="bi bi-trash-fill"></i></button>
    </div>

</div>

<ng-template #NewOrEditMode >
    <div class="editForm">
        <form class="grid-container row" #f="ngForm">
            <div class="form-group col-4" >
                <label for="paramTypeDdList"> Rodzaj kontaktu</label>
                <select required [(ngModel)]="editSelectedValue" ngModel #paramTypeDdList="ngModel" name="paramTypeDdList" id="paramTypeDdList" class="form-control">
                    <option value=""></option>
                    <option *ngFor="let contactParamType of contactParamTypes" [value]="contactParamType">{{contactParamType}}</option>
                </select>
                <div class="alert alert-danger" *ngIf="paramTypeDdList.touched && !paramTypeDdList.valid">Rodzaj kontaktu nie może być pusty.</div>
            </div>
            <div class="form group col-4">
                <label for="paramValueInput"> Wartość</label>
                <input required [(ngModel)]="editParamValue" #paramValueInput="ngModel" id="paramValueInput" name="paramValueInput" type="text" class="form-control">
                <div class="alert alert-danger" *ngIf="paramValueInput.touched && !paramValueInput.valid">Wartość kontaktu nie może być pusta.</div>
            </div>

            <div class="button-div col-2">
                <button ngSubmit [disabled]="!f.valid" class="btn btn-outline-success" (click)="confirmEditionClick(f)"><i class="bi bi-check"></i></button>
            </div>
            <div class="button-div col-2">
                <button class="btn btn-outline-danger" (click)="cancelEditionClick()"><i class="bi bi-x-octagon"></i></button>
            </div>
        </form>
    </div>
</ng-template>