.editForm{
    width: 100%;
}

button{
    text-align: center;
    /* width: 80px;
    height: 80px; */
    margin: auto;
    min-width: 75px;
    width: 95%;
}
.button-div {
    padding: 5px;
}

mat-icon{
    margin-left: 20px;
    margin-right: 10px;
}

.row {
    width: 95%;
    padding: 0;
    margin: 0;
}



