<div class="container">

    <div *ngIf="htmlInput?.value && !htmlContentPreview; else htmlPreviewDiv" [innerHtml]="htmlInput.value"></div>
    <ng-template #htmlPreviewDiv >
        <div *ngIf="htmlContentPreview" [innerHtml]="htmlContentPreviewValue"></div>
    </ng-template>

    <div class="html-editor" *ngIf="usersService.userHasStarszyEdytorPermission">
        <html-custom-editor 
            [(htmlWorkingContent)]="htmlContentPreviewValue"  
            [(showPreviewOutside)]="htmlContentPreview"
            [(htmlInput)]="htmlInput"
            [target]="recruitmentCompTarget_1"
        ></html-custom-editor>
    </div>
    
    <employ-offer *ngFor="let offer of offers" [offer]="offer" [removeOfferCallback]="removeOfferCallback">

    </employ-offer>

    <ng-container #newOfferCompContainer></ng-container> 

    <div class="text-center new-offer-div" *ngIf="usersService.userHasStarszyEdytorPermission">
        <button *ngIf="canAddNewOffer" class="btn badge btn-warning new-offer-btn" (click)="addNewEmployOfferComponent()">Dodaj ogłoszenie</button>
    </div>
    <br />
</div>