div.container{
    color: whitesmoke;
}

.new-offer-btn {
    
    justify-content: center;
    font-size: 2rem;
}

.new-offer-div {
    margin-top: 10px;
    justify-content: center !important;
    align-items: center !important;
}