.remove-btn {
    margin-top: 15px;
}

.col-3{
    padding: 0 5px 0 5px;
}

.jumbotron {
    padding: 2rem;
}


.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 5px 10px 5px 10px;
}



ngb-carousel{
    height: 800px;
    img{
        width: 100%; 
        object-fit: cover !important; 
        object-position: center;
    }
}
.carousel-console {
    margin-top: 15px;
}

.html-editor{
    background-color: rgba(0, 0, 0, 0.384); 
    border-radius: 2cm; 
    padding: 1cm
}

.new-contact-btn {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 20px;
}

.new-contact-div {
    margin-top: 10px;
    margin-bottom: 10px;
}



