
<div class="container">
    <div>
        <img *ngIf="upperImage; else noUpperImage" src="{{upperImage.path}}" class="full-width rounded-corners-s">
        <button 
            *ngIf="usersService.userHasStarszyEdytorPermission && upperImage" 
            (click)="removePhotoClick(upperImage, HomePanelUpperImage)" 
            class="btn btn-outline-danger btn-block remove-btn">
            <i class="bi bi-trash-fill"></i> 
        </button>

        <ng-template class="upper-image-upload" #noUpperImage>
            <photo-uploader *ngIf="usersService.userHasStarszyEdytorPermission" 
                [target]="HomePanelUpperImage" 
                [askForComment]="false" 
                [targetWidth]="1200" 
                [reloadCallbackFunction]="reloadCallbackFunction">
            </photo-uploader>
        </ng-template>
    </div>
    
    <br>
    <br>

    <div class="jumbotron warning bg-warning full-width rounded-corners-s">
        <div  *ngIf="!htmlContentPreview; else showEditedTextTemplate" [innerHTML]="mainHtmlInput?.value | unsafeHtmlPipe" ></div>

        <ng-template #showEditedTextTemplate>
            <div [innerHtml]="htmlContentPreviewValue | unsafeHtmlPipe"></div>
        </ng-template>
        <div class="html-editor" *ngIf="usersService.userHasStarszyEdytorPermission">
            <html-custom-editor  
                [(htmlWorkingContent)]="htmlContentPreviewValue"  
                [(showPreviewOutside)]="htmlContentPreview"
                [(htmlInput)]="mainHtmlInput"
                [target]="mainPanelOfferTarget"
            ></html-custom-editor>
        </div>
    </div>

    <ngb-carousel class="carousel" >
        <ng-template ngbSlide *ngFor="let image of carouselImages; let i = index; trackBy: trackByMethodCarousel">
            <div *ngIf="image; else noCarouselImage"  >
                <img [src]="image.path" alt="błąd wyświetlania zdjęcia" class="rounded-corners-s">
                <h3 class="carousel-caption">{{ image.comment }}</h3>
            </div>
            <ng-template #noCarouselImage>
                Brak zdjęcia
            </ng-template>
        </ng-template>
    </ngb-carousel> 

    <div class="carousel-console row" *ngIf="usersService.userHasStarszyEdytorPermission">
        <div *ngFor="let index of [0,1,2,3]" class="col-3">
            <photo-uploader class="rounded-corners-s"
                [disabled]="carouselImages[index] != null" 
                [target]="HomePanelCarouselImage_ + index" 
                [targetWidth]="1200" 
                [reloadCallbackFunction]="reloadCallbackFunction">
            </photo-uploader>

            <button 
                class="btn btn-outline-danger btn-block remove-btn"
                [disabled]="carouselImages[index] == null" 
                (click)="removePhotoClick(carouselImages[index], HomePanelCarouselImage_ + index)" >
                <i class="bi bi-trash-fill"></i> 
            </button>
        </div>
    </div>
</div>

<br>
<br>

<ngb-accordion  #acc="ngbAccordion" activeIds="simple-panel" name="Kontakt" class="full-width" (panelChange)="$event.preventDefault();">
    <ngb-panel id="simple-panel" type="warning" cardClass="black" >
        <ng-template ngbPanelHeader let-opened="opened">
            <h4 class="m-0" style="font-weight: bold;">Zapraszamy serdecznie do kontaktu:</h4>
        </ng-template>
        
        <ng-template ngbPanelContent>
            <div class="row">
                <div class="col-6">
                    <contact-param class="row" *ngFor="let param of contactParams; trackBy: trackByMethod" [ContactParam]="param" ></contact-param>
                    <ng-container #contactCompDiv></ng-container> 
                    <div class="text-center full-width new-contact-div">
                        <button 
                            *ngIf="usersService.userHasStarszyEdytorPermission && canAddNewContact" 
                            class="btn btn-warning new-contact-btn" 
                            (click)="AddNewContParamComponent()">Dodaj kontakt
                        </button>
                    </div>
                </div>
                <div class="col-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.0924524198576!2d18.667603716299755!3d49.82192754033195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47140202083f33d7%3A0x64f900cb1d249665!2sKatowicka%206%2C%2043-416%20Ko%C5%84czyce%20Wielkie!5e0!3m2!1spl!2spl!4v1613664954756!5m2!1spl!2spl"
                    width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"></iframe>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>

<br/>