<div class="container">
    <ngb-accordion  #acc="ngbAccordion" activeIds="toggle-3">
        <ngb-panel id="toggle-1" title="O firmie" type="warning" cardClass="black" >
            <ng-template ngbPanelContent>
                <div class="container">
                    <div  *ngIf="!aboutUsHtmlContentPreview; else showEditedAboutUsTextTemplate" [innerHTML]="aboutUsHtmlInput?.value | unsafeHtmlPipe" ></div>
                
                    <ng-template #showEditedAboutUsTextTemplate>
                        <div [innerHtml]="aboutUsHtmlContentPreviewValue | unsafeHtmlPipe"></div>
                    </ng-template>
                
                    <div class="html-editor" *ngIf="usersService.userHasStarszyEdytorPermission">
                        <html-custom-editor  
                            [(htmlWorkingContent)]="aboutUsHtmlContentPreviewValue"  
                            [(showPreviewOutside)]="aboutUsHtmlContentPreview"
                            [(htmlInput)]="aboutUsHtmlInput"
                            [target]="infoPanelTarget_AboutUs"
                        ></html-custom-editor>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-2" title="Pracownicy" type="warning">
            <ng-template ngbPanelContent>
                <div class="container">
                    <div  *ngIf="!workersHtmlContentPreview; else showEditedWorkersTextTemplate" [innerHTML]="workersHtmlInput?.value | unsafeHtmlPipe" ></div>
                
                    <ng-template #showEditedWorkersTextTemplate>
                        <div [innerHtml]="workersHtmlContentPreviewValue | unsafeHtmlPipe"></div>
                    </ng-template>
                
                    <div class="html-editor" *ngIf="usersService.userHasStarszyEdytorPermission">
                        <html-custom-editor  
                            [(htmlWorkingContent)]="workersHtmlContentPreviewValue"  
                            [(showPreviewOutside)]="workersHtmlContentPreview"
                            [(htmlInput)]="workersHtmlInput"
                            [target]="infoPanelTarget_Workers"
                        ></html-custom-editor>
                    </div>
                </div>

                <app-workers></app-workers>
            </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-3" title="Kontakt" type="warning">
            <ng-template ngbPanelContent>
                <div class="contact-grid">
                    <contact-param  *ngFor="let param of contactParams; trackBy: trackByMethod" [ContactParam]="param" style="font-size: 1.2rem;"></contact-param>
                </div>
                <ng-container #contactCompDiv></ng-container>
                <div class="text-center new-contact-div" *ngIf="usersService.userHasStarszyEdytorPermission">
                    <button 
                        *ngIf="usersService.userHasStarszyEdytorPermission && canAddNewContact" 
                        class="btn btn-warning new-contact-btn" 
                        (click)="AddNewContParamComponent()">Dodaj kontakt
                    </button>
                </div>
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.0924524198576!2d18.667603716299755!3d49.82192754033195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47140202083f33d7%3A0x64f900cb1d249665!2sKatowicka%206%2C%2043-416%20Ko%C5%84czyce%20Wielkie!5e0!3m2!1spl!2spl!4v1613664954756!5m2!1spl!2spl"
                    width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </ng-template>

        </ngb-panel>
    </ngb-accordion>
</div>