::ng-deep .btn-link {
    color: #000;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-content: center;
}

contact-param {
    margin-top: 5px;
}

.new-contact-btn {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 20px;
}

.new-contact-div {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center !important;
    align-items: center !important;
}

