<div class="container-fluid bg-warning">
    <div class="album-text-div">
        <div class="album-text"><b> {{album.name}}</b></div>
        <div class="album-text"><b>Opis:</b> {{album.comment}}</div>
    </div>
    <div class="row photos-grid">
        <div class="image" *ngFor="let photo of album.photos; let i = index"> 
            <img src="{{ photo?.thumbnailPath}}" alt="Błąd wyświetlania zdjęcia" (error)="photo.thumbnailPath = photo.path" (click)="selectedImage = i"/>


            <!-- *ngIf="(usersService.currentUser$ | async) !== null" -->
            <button (click)="removePhotoClick(photo)" class="btn btn-outline-danger btn-block remove-btn" *ngIf="usersService.userHasMlodszyEdytorPermission">
                <i class="bi bi-trash-fill"></i> 
            </button>
        </div>
    </div>

    <div class="row" *ngIf="usersService.userHasMlodszyEdytorPermission">
        <div class="photo-upload col-10 rounded-corners-s" >
            <photo-uploader [albumId]="album.id" ></photo-uploader>
        </div>

        <div class="btn-div col-1">
            <button class="btn btn-lg btn-dark btn-album " (click)="open(editAlbumModal)" > Edytuj album</button>
        </div>

        <div class="btn-div col-1">
            <button class="btn btn-lg btn-danger btn-album " (click)="removeAlbumClick(album)" > Usuń album </button>
        </div>
    </div>

    <ng-template #editAlbumModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Edycja albumu</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="name">Nazwa:</label>
                    <textarea class="form-control" [(ngModel)]="name" name="name"></textarea>

                    <label for="comment">Opis:</label>
                    <textarea class="form-control" [(ngModel)]="comment" name="comment"></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
    </ng-template>
</div>

<br>
<br>

<gallery-carousel *ngIf="selectedImage !== null" (closeCarousel)="selectedImage = null" [images]="album.photos" [selectedImage]="selectedImage"></gallery-carousel>