.photo-upload{
    width: 100%; 
    object-fit: cover !important; 
    object-position: center;
    padding: 5px;
}

.album-text-div {
    margin: 20px 13px;
    padding-top: 25px;
    padding-bottom: 10px;
    .album-text{
        font-size: 1.2rem;
        padding-top: 15px;
    }
}



.btn-div{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-album {
        margin-bottom: 18px;
    }
}

.photos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    
    .image {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        margin-left: 0.5rem;
        @media (max-width: 576px) {
            margin-right: 0.25rem;
            margin-bottom: 0.5rem;
            margin-left: 0.25rem;
        }
        overflow: hidden;
        position: relative;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition-duration: 0.55s;
        }
        .remove-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 16px;
            width: 50px;          
        }

        filter: drop-shadow(1px 2px 3px black);
        &:hover {
            filter: brightness(0.9) drop-shadow(2px 4px 6px black);
            img {
                transform: scale(1.1) !important;
                transition-duration: 3s;
            }
        }
    }
}