<div class="container">
    <div class="jumbotron warning bg-warning">
        <b>Uwaga!</b><br/>
        Zamieszczony tutaj kalkulator szacuje wartość przybliżoną kosztu jednego z trzech typów prac. Robi to podstawie pewnych uśrednionych wartości.
        Aby uzyskać dokładną, zobowiązującą wycenę należy umówić się na spotkanie, na którym odpowiednia osoba musi zobaczyć, zmieżyć i oszacować projekt 
        przy aktualnych stawkach.
        <br/> Często zdaża się, że znaczenie będzie miało ukształtowanie terenu, możliwy dobór odpowiedniejszych materiałów oraz wiele innych czynników.

    </div>

    <div class="btn-group btn-group-toggle vertical-center" ngbRadioGroup name="radioBasic" [(ngModel)]="choice">
        <label ngbButtonLabel class="btn-warning">
          <input ngbButton type="radio" [value]="1"> Fundament
        </label>
        <label ngbButtonLabel class="btn-warning">
          <input ngbButton type="radio" value="2"> Odwodnienie budynku
        </label>
        <label ngbButtonLabel class="btn-warning">
          <input ngbButton type="radio" [value]="3"> Plac z kostki brukowej
        </label>
    </div>
    <br>
    <br *ngIf="choice==1 || choice==3">
    <div class="d-flex-inline" style="align-items: center;">
        <div class="d-flex-inline content justify-content-center" style="align-self: center;" *ngIf="choice==1 || choice==3">
            <span style="text-align: center;margin-bottom: 5px;" class="badge badge-warning vertical-center">Ile m<sup>2</sup></span>
            <input id="typeahead-basic" type="number" class="form-control" [(ngModel)]="ileMetrow" />
        </div>
        <br *ngIf="choice==2">
        <div class="d-flex-inline content justify-content-center" *ngIf="choice==2">
            <span style="text-align: center;margin-bottom: 5px;" class="badge badge-warning vertical-center">Obwód budynku</span>
            <input id="typeahead-basic" type="number" class="form-control" [(ngModel)]="obwodBudynku" />
        </div>
        <br *ngIf="choice==2">
        <div class="d-flex-inline content justify-content-center" *ngIf="choice==2">
            <span style="text-align: center;margin-bottom: 5px;" class="badge badge-warning vertical-center">Głębokość fundamentu poniżej poziomu ziemi
            </span>
            <input id="typeahead-basic" type="number" class="form-control" [(ngModel)]="glebokoscFundamentu" />
        </div>
        <br *ngIf="choice==3">
        <div class="d-flex-inline content" *ngIf="choice==3">
            <span style="text-align: center;margin-bottom: 5px;" class="text-center badge badge-warning vertical-center">Cena wybranej kostki za m<sup>2</sup>
            </span>
            <input id="typeahead-basic" type="number" class="form-control" [(ngModel)]="cenaKostki" />
        </div>
    </div>
    <br/>
    <button class="badge btn-warning content" (click)="calculate()">
        Oblicz
    </button>

    <br/>
    <br/>
    <div class="jumbotron warning bg-warning">
        <b>Szacowany koszt to:</b>
        <br/>
        <label>{{result?.toFixed(2)}} zł</label>
    </div>
</div>