.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: middle;
}

sup {
    font-size: 55%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: 0.8em;
}

.content {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    width: 10cm;
    height: 1.5cm;
}
.container{
    font-size: 20px;
}

label, span{
    font-size: 20px;
}
