::ng-deep .btn-link {
    color: #000;
}

.title-div {
    min-height: 40px;
    margin: 10px 0;

    vertical-align: middle;
    label{
        text-align: right;
        margin-bottom: 0;
        vertical-align: middle;
        padding-top: 5px;
        font-weight: bold;
        font-size: 1.2rem;
    }
}

.remove-btn {
    margin: 10px 0;
}

.new-tab-btn {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 20px;
}

.new-tab-div {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center !important;
    align-items: center !important;
}

.html-editor{
    background-color: rgba(0, 0, 0, 0.384); 
    border-radius: 1cm; 
    padding: 1cm
}

