<div class="container">
    <ngb-accordion #acc="ngbAccordion" activeIds="toggle-0">
        <!-- Wyświetlenie wczytanych z bazy ofert -->
        <ngb-panel 
            *ngFor="let tab of tabs; let i = index" 
            id="toggle-{{i}}" 
            title="{{tab.title}}" 
            type="warning" 
            cardClass="black"
            >
            <ng-template ngbPanelContent >
                <div (mouseenter)="this.selectedTab = tab;">
                    <div class="container-fluid text-center full-width row title-div" *ngIf="usersService.userHasStarszyEdytorPermission">
                        <label class="col-3" for="tabTitleInput">Tytuł oferty:</label>
                        <input class="col-9 full-width rounded-corners-s" type="text" name="tabTitleInput" id="tabTitleInput" [(ngModel)]="tab.title">
                    </div>

                    <div class="image-wrapper container-fluid text-center">
                        <img class="full-width rounded-corners-s" *ngIf="tab.image; else noUpperImage" src="{{tab.image?.path}}">
                    
                        <button (click)="removePhotoClick(tab.image)" 
                        *ngIf="usersService.userHasStarszyEdytorPermission && tab.image" 
                            class="btn btn-outline-danger btn-block remove-btn rounded-corners-s">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    
                        <div class="rounded-corners-s" >
                            <ng-template class="upper-image-upload" #noUpperImage>
                                <photo-uploader *ngIf="usersService.userHasStarszyEdytorPermission"
                                [askForComment]="false" 
                                [targetWidth]="1100"
                                [reloadCallbackFunctionWithPayload]="reloadCallbackFunctionWithPayload"
                                [target]="offerPanelTarget+tab.title">
                                </photo-uploader>
                            </ng-template>
                        </div>
                    </div>
                
                    <div class="container-fluid">
                        <div *ngIf="!tab.htmlPreview; else showEditedTextTemplate" [innerHTML]="tab.htmlInput?.value| unsafeHtmlPipe"> </div>
                    
                        <ng-template #showEditedTextTemplate>
                            <div [innerHtml]="tab.htmlPreviewValue| unsafeHtmlPipe"></div>
                        </ng-template>
                    
                        <div class="html-editor" *ngIf="usersService.userHasStarszyEdytorPermission">
                            <html-custom-editor 
                                [(htmlWorkingContent)]="tab.htmlPreviewValue" 
                                [(showPreviewOutside)]="tab.htmlPreview"
                                [(htmlInput)]="tab.htmlInput" 
                                [target]="offerPanelTarget+tab.title"
                                [alternativeRemoveButtonClickImplementation]="removeButtonCallback">
                            </html-custom-editor>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        
        <!-- Dodawanie nowej oferty -->
        <ngb-panel [title]="newTab.title" *ngIf="addingNewTab" 
                    id="toggle-newCard" 
                    type="warning" 
                    cardClass="black" >
            <ng-template ngbPanelContent >
                <div class="new-tab-editor" >
                    <div class="container-fluid text-center full-width row title-div">
                        <label class="col-3" for="newTabTitleInput">Tytuł oferty:</label>
                        <input class="col-9 full-width rounded-corners-s" type="text" name="newTabTitleInput" id="newTabTitleInput" [(ngModel)]="newTab.title">
                    </div>
                
                    <div class="image-wrapper container-fluid">
                        <img class="full-width rounded-corners-s" *ngIf="newTab.image; else noUpperImage" src="{{newTab.image?.path}}">
                        
                        <button *ngIf="newTab.image" 
                        (click)="removePhotoClick(newTab.image)"
                            class="btn btn-outline-danger btn-block remove-btn rounded-corners-s">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    
                        <ng-template class="upper-image-upload" #noUpperImage>
                            <photo-uploader
                                [target]="offerPanelTarget+newTab.title"
                                [askForComment]="false" [targetWidth]="1100"
                                [reloadCallbackFunctionWithPayload]="reloadCallbackFunctionWithPayload">
                            </photo-uploader>
                        </ng-template>
                    </div>
                
                    <div class="container">
                        <div *ngIf="!newTab.htmlPreview; else showEditedTextTemplate" [innerHTML]="newTab.htmlInput?.value| unsafeHtmlPipe">
                        </div>
                    
                        <ng-template #showEditedTextTemplate>
                            <div [innerHtml]="newTab.htmlPreviewValue| unsafeHtmlPipe"></div>
                        </ng-template>
                    
                        <div class="html-editor">
                            <html-custom-editor 
                                [(htmlWorkingContent)]="newTab.htmlPreviewValue" 
                                [(showPreviewOutside)]="newTab.htmlPreview"
                                [(htmlInput)]="newTab.htmlInput" 
                                [acceptClickCallback]="acceptButtonCallback"
                                [target]="offerPanelTarget+newTab.title"
                                [alternativeRemoveButtonClickImplementation]="removeButtonCallback"
                                ></html-custom-editor>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <ng-container #newOfferCompDiv></ng-container>
    </ngb-accordion>

    <div class="text-center new-tab-div" *ngIf="usersService.userHasStarszyEdytorPermission">
        <button 
            *ngIf="canAddNewTab" 
            class="btn btn-warning new-tab-btn" 
            (click)="addNewOfferTab(); acc.activeIds='toggle-newCard'"> Dodaj ofertę
        </button>
    </div>

    <br>
    <br>
</div>