.square {
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}

.wholeControl {
    
    margin-bottom: 20px;
}

.row{
    padding: 5px;
    margin: 0;
}

.full-width {
    width: 100%;
}

.submit-btn {
    padding-bottom: 10px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
i{
    font-size: 1.8rem;
    margin-left: 10px;
    margin-right: 10px;
}
span{
    font-size: 1.3rem;

}