<div class="square rounded-corners-s">
    <form id="newForm" class="wholeControl" (ngSubmit)="saveBtnClicked()" >

        <div class="row">
            <input #fileInput class="form-control" style="display: none;" type="file" accept="image/*" (change)="uploadPhoto($event.target.files)" [disabled]="disabled">
            <button class="btn btn-dark col-3" type="button" (click)="fileInput.click()" [disabled]="disabled"> Wybierz plik </button>
            
            <input type="text" [value]="newPhoto?.file?.name" disabled class="col-9">    
        </div>
        
        <div class="row" *ngIf="askForComment">
            <input class="full-width" type="text" name="komentarz" placeholder="Komentarz do zdjęcia" [(ngModel)]="newPhoto.comment" [disabled]="disabled">
        </div>
        
        <div class="row submit-btn">
            <button  class="btn btn-success align-middle" type="submit" [disabled]="disabled"> 
                <i class="bi bi-cloud-arrow-up-fill"></i>
                <span >Wgraj zdjęcie</span> 
                <i class="bi bi-cloud-arrow-up-fill"></i>
            </button>
        </div>
    </form>
</div>