.row {
    /* width: 100%; */
    margin-top: 10px;
    margin-right: 10px;
}

.col-9{
    padding-right: 0;
}

.list-group-item {
    border: 2px solid rgb(0, 0, 0);
    margin-top: 3px;
}

.new-album-part {
    justify-content: center !important;
    align-items: center !important;
}

.new-album-btn {
    justify-content: center;
    font-size: 2rem;
}
