<div class="container-fluid">
    <div class="row">
        <div class="col-3 rounded-corners-s">
            <div class="list-group">
                <a 
                    *ngFor="let album of galleryAlbums" 
                    class="list-group-item list-group-item-secondary list-group-item-action 
                           d-flex justify-content-between align-items-center"
                    routerLink="/gallery"
                    [queryParams]="{ selectedAlbumId: album.id }"
                    [class.active]="selectedAlbumId === album.id">
                    
                    {{ album.name }}
                    <span class="badge badge-warning badge-pill">{{ album.photos.length}}</span>
                </a>

                <div class="new-album-part bg-warning list-group-item text-center" *ngIf="usersService.userHasMlodszyEdytorPermission">
                    <button class="btn-warning badge new-album-btn" (click)="open(content)">Dodaj nowy album</button>
                </div>
            </div>

        </div>

        <album-card class="col-9 rounded-corners-s" *ngIf="selectedAlbum" [album]="selectedAlbum"></album-card>
    </div>


    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Nowy album</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="name">Nazwa:</label>
                    <textarea class="form-control" [(ngModel)]="name" name="name"></textarea>

                    <label for="comment">Opis:</label>
                    <textarea class="form-control" [(ngModel)]="comment" name="comment"></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
    </ng-template>
</div>