div.myborder{
    border: 2px solid #ffbb00;
    margin-top: 35px;
    padding: 4px;
}

div.myborder2{
  border: 2px solid #ffbb00;
  padding: 15px;
  margin:auto;
}

div.column{
    margin: 10px;
}

img{
    height: auto;
    width: 100%;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 0.7em;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 100%;
}

.btn { 
  border-radius: 0.7em;
}

.corner-remove-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 16px;
  width: 50px;          
}

.image{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.proper-image{
  position: relative;
}
