<div class="myborder rounded-corners-s" >
    <div class="myborder2 row rounded-corners-s">
        <div class="col-4">
            <div class="image">
                <div class="proper-image">
                    <img *ngIf="offer?.photo; else noPhoto" [src]="offer?.photo?.path">
        
                    <button *ngIf="offer?.photo != null && usersService.userHasStarszyEdytorPermission"
                    (click)="removeOfferPhoto()" 
                    class="btn btn-outline-danger btn-block corner-remove-btn" >
                        <i class="bi bi-trash-fill"></i> 
                    </button>
                </div>
            </div>

            <ng-template #noPhoto>
                <photo-uploader *ngIf="usersService.userHasStarszyEdytorPermission"
                    [disabled]="offer?.photo != null" 
                    [target]="recruitmentOfferTarget" 
                    [targetWidth]="380" 
                    [reloadCallbackFunctionWithPayload]="reloadCallbackFunctionWithPayload"
                    [askForComment]="false">
                </photo-uploader>
                
            </ng-template>
        </div>

        <div class="col-8" *ngIf="!htmlContentPreview; else showEditedTextTemplate" [innerHTML]="offer?.htmlInput?.value | unsafeHtmlPipe" ></div>

        <ng-template #showEditedTextTemplate>
            <div class="col-8" [innerHtml]="htmlContentPreviewValue | unsafeHtmlPipe"></div>
        </ng-template>
    </div>
    <form class="myborder2 row" style="margin-top: 5px;" *ngIf="usersService.userHasStarszyEdytorPermission">

        <div class="html-editor">
            <html-custom-editor 
                [(htmlWorkingContent)]="htmlContentPreviewValue"  
                [(showPreviewOutside)]="htmlContentPreview"
                [(htmlInput)]="offer.htmlInput"
                [target]="recruitmentOfferTarget"
                [acceptClickCallback]="acceptClickCallback"
                [alternativeRemoveButtonClickImplementation]="alternativeRemoveButtonClickImplementation"
                ></html-custom-editor>
        </div>
    </form>
</div>
