.gallery-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(100, 100, 100, 0.4);
    backdrop-filter: blur(5px);
    z-index: 5;

    .carousel-image {
        background-color: black;
        padding: 1.5rem;
        @media (max-width: 1920px) {
            padding: 0.5rem;
        }
        position: relative;
        overflow: hidden;
        img {
            max-width: 90vw;
            max-height: 90vh;
        }

        .carousel-button {
            padding: 1.5rem;
            position: absolute;
            display: flex;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            span {
                color: transparent;
                display: flex;
                align-items: center;
                font-size: 3rem;
                padding: 0.5rem;
                flex-grow: 1;
                &:nth-child(3) {
                    justify-content: flex-end;
                }
                &:not(:nth-child(2)) {
                    cursor: pointer;
                    &:focus, &:hover {
                        border: none;
                        outline: none;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.carousel-close {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    cursor:  pointer;
    &:focus, &:hover {
        border: none;
        outline: none;
        color: #fff;
        transform: scale(1.2);
    }
}