<div class="container">
    <div class="bg-warning" style="font-size: 18px;text-align: center;"><b>Panel administratora</b></div>

    <div class="scrollable-table">
        <table>
            <thead>
                <td><b>Nazwa</b></td>
                <td ><b>Poziom uprawnień</b></td>
                <td class="button-column"></td>
                <td class="button-column"></td>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersService.users$ | async">   
                    <td>{{user.username}}</td>
                    <td>{{user.permissionLevelName}}</td>
                    <td>
                        <button type="button" 
                            (click)="
                            (usersService.userHasAdminPermission && !usersService.isCurrentOrAdmin(user.username)) 
                            ? openChangePermissionModal(content, user) 
                            : null" 
                            class="btn btn-warning table-button" 
                            [disabled]="!usersService.userHasAdminPermission || usersService.isCurrentOrAdmin(user.username)"
                            >Zmień uprawnienia
                        </button>
                    </td>
                    <td>
                        <button type="button" 
                            (click)="
                            (usersService.userHasAdminPermission && !usersService.isCurrentOrAdmin(user.username)) 
                            ? deleteUser(user.username)
                            : null" 
                            class="btn btn-danger table-button" 
                            [disabled]="!usersService.userHasAdminPermission || usersService.isCurrentOrAdmin(user.username)"
                            >Usuń
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="btn-group vertical-center content" role="group" aria-label="Basic example">
        <button type="button" 
                (click)="usersService.userHasAdminPermission ? openAddNewUserModal(content) : null" 
                [disabled]="!usersService.userHasAdminPermission" 
                class="btn btn-warning">Dodaj użytkownika
        </button>
        
        <button type="button" (click)="openChangePasswordModal(content)" class="btn btn-warning">Zmień hasło</button>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="isUserAdd">Utwórz użytkownika</h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="isPasswordChange">Zmień hasło</h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="isRoleChange">Zmień rolę</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="login" *ngIf="isUserAdd">Login</label>
                <div class="input-group" *ngIf="isUserAdd">
                    <input id="login" class="form-control" placeholder="Nazwa użytkownika" name="dp" ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="username">
                </div>

                <label for="oldPassInput" *ngIf="isPasswordChange">Stare Hasło</label>
                <div class="input-group" *ngIf=" isPasswordChange">
                    <input type="password" id="oldPassInput" class="form-control" placeholder="Hasło" name="oldPassInput" ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="oldPass">
                </div>

                <label for="newPassInput" *ngIf="isUserAdd || isPasswordChange">Nowe hasło</label>
                <div class="input-group" *ngIf="isUserAdd || isPasswordChange">
                    <input type="password" id="newPassInput" class="form-control" placeholder="Nowe hasło" name="dp" ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="newPass">
                </div>

                <label for="newPassRepInput" *ngIf="isUserAdd || isPasswordChange">Powtórz nowe hasło</label>
                <div class="input-group" *ngIf="isUserAdd || isPasswordChange">
                    <input type="password" id="newPassRepInput" class="form-control" placeholder="Powtórz nowe hasło" name="dp" ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="newPass2">
                </div>
                
                <label for="role" *ngIf="isUserAdd || isRoleChange">Uprawnienia</label>
                <div class="input-group" *ngIf="isUserAdd || isRoleChange">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-warning" id="role" ngbDropdownToggle>{{selectedPermission}}</button>
                        <div ngbDropdownMenu aria-labelledby="role">
                            <button ngbDropdownItem (click)="setPermission(mlodszyEdytorPermission)">Młodszy edytor</button>
                            <button ngbDropdownItem (click)="setPermission(starszyEdytorPermission)">Starszy edytor</button>
                            <button ngbDropdownItem (click)="setPermission(adminPermission)">Admin</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Zapisz</button>
    </div>
</ng-template>