.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: middle;
}

sup {
    font-size: 55%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: 0.8em;
}

.content {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

table{
    table-layout: auto;
    width: 100%;
}

table, th, td {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    color: whitesmoke;
  }
.button-column{
  width: 15%;
}
  th, td {
    padding: 10px;
  }

  div.scrollable-table{
    width: 100%;
    align-items: center;
    margin-top: 10px;
    overflow: scroll;
    margin-bottom: 35px;
    overflow-x: hidden;
    scrollbar-color: auto;
  }

  .btn.btn-danger.table-button, .btn.btn-warning.table-button{
    width: 200px;

  }