@import '~/node_modules/bootstrap/scss/bootstrap';

.row{
    margin: 0;
}

.custom-switch.custom-switch-adaptive {
    padding-right: 0px;
    padding-left: 0;
    margin-bottom: 10px;
    width: 100%;
    
  
    .custom-control-label {
      padding: 0 1.4em;
      position: relative;
      border-radius: 0.7em;
      line-height: 1.2em;
      color: $text-muted;
      border: 1px solid $text-muted;
    //   background-color: $light;
      transition: background-color 200ms;
  
      &::before {
        content: none;
      }
      &::after {
        position: absolute;
        height: 1em;
        top: 0.2em;
        left: 0.2em;
        width: 1em;
        border-radius: 1em;
  
        transition: left 200ms;
      }
    }
  
    .custom-control-input:checked ~ .custom-control-label {
      color: $white;
      background-color: $warning;
      border-color: black;
  
      &::after {
        background-color: $white;
        left: calc(100% - 1.2em);
  
        transform: none;
        -webkit-transform: none;
      }
    }
  }