<div class="custom-html-editor row">
    <div class="col-10 form-group">
        <angular-editor 
            [placeholder]="'Edycja tutaj...'" 
            [ngModel]="htmlWorkingContent" (ngModelChange)="htmlContentEdited($event)"
            id="htmlEditor" name="htmlEditor"
            [config]="config">
        </angular-editor>
    </div>

    <div class="col-2 form-group">
        <div class="custom-control custom-switch custom-switch-adaptive row">
            <input 
                [(ngModel)]="showPreviewOutside" 
                (ngModelChange)="togglePreviewCheckbox($event)" 
                type="checkbox" class="custom-control-input" 
                id="customSwitch_htmlContentPreview_{{target}}"
                name="customSwitch_htmlContentPreview_{{target}}">
            <label class="custom-control-label" for="customSwitch_htmlContentPreview_{{target}}">Podgląd HTML</label>
        </div>

        <button class="btn btn-success btn-block row" (click)="confirmHtmlContentEdition()"><i class="bi bi-check"></i></button>
        <button class="btn btn-danger btn-block row" (click)="removeHtmlContent()"><i class="bi bi-trash-fill"></i></button>
    </div>
</div>