<div class="myborder" *ngIf="!usersService.loggedIn">
  <div class="myborder2">
    <form #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">

      <img class="mb-4" src="https://res.cloudinary.com/dzz4ptzs6/image/upload/v1614125842/businessman-309_qkb1ti.png">
      <div class="container">
        <label for="login" class="Visually-hidden">Login</label>
        <input name="Username" id="login" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text"
          placeholder="Login" required>

        <label for="password" class="Visually-hidden">Hasło</label>
        <input name="Password" id="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password"
          placeholder="Hasło" required>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
      </div>


    </form>
  </div>
</div>