div.myborder{
  border: 2px solid yellowgreen;
  width: 35%;
  margin:auto;
  padding: 4px;
}


div.myborder2{
border: 2px solid yellowgreen;
padding: 4px;
margin:auto;
}



  input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  label{

      color:blanchedalmond;
  }


  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    margin: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
    background-color: transparent;
    border: solid 1px yellowgreen;
  }

img{
    width: auto;
    height: 180px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

  .container {
    padding: 10px;
  }