
<div id="grid">
    <div class="workerDisplay bg-warning"  *ngFor="let worker of workers; trackBy: trackByMethod">  
        <div class="image">
            <button *ngIf="usersService.userHasStarszyEdytorPermission"
                [disabled]="worker.profilePhoto == null" 
                class="btn btn-danger corner-remove-btn" 
                type="button" (click)="deleteWorkerPhoto(worker)"> 
                <i class="bi bi-trash-fill"></i> 
            </button>
            <img [src]="worker.profilePhoto?.path" (error)="onImgError($event)" (click)="isEditMode = true; openModal(content, worker)" >
        </div>

        <div class="workerInfo">
            <div><b>{{worker.name}}</b></div>
            <div><b>{{worker.rank}}</b></div>
            <div *ngIf="worker.withUsFor">Z nami już: <b>{{worker.withUsFor}}</b></div>
        </div>
        
        <div class="remove-worker-div" *ngIf="usersService.userHasStarszyEdytorPermission">
            <button 
            class="btn btn-danger remove-worker-btn" 
            type="button" (click)="deleteWorker(worker)"> Usuń pracownika <i class="bi bi-trash-fill"></i> 
            </button>
        </div>  
        <br>  
    </div>
</div>

<div class="text-center" *ngIf="usersService.userHasStarszyEdytorPermission">
    <button class="btn btn-warning add-new-btn" (click)="isEditMode = false; openModal(content, null)" > Dodaj nowego pracownika</button>
</div>


<!--  modal  -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="!isEditMode">Dodaj pracownika</h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="isEditMode">Edytuj pracownika</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="name">Imię</label>
                <div class="input-group">
                    <input id="name" type="text" class="form-control" name="name" placeholder="Imię" [(ngModel)]="name">
                </div>
                <label for="role">Stanowisko</label>
                <div class="input-group">
                    <input id="role" type="text" class="form-control" name="rank" placeholder="Stanowisko"
                        [(ngModel)]="rank">
                </div>

                <label for="date">Data przyjęcia pracownika</label>
                <div class="input-group">
                    <input 
                        class="form-control" 
                        type="date" name="workingFrom" 
                        max="{{currentDate | date: 'yyyy-MM-dd'}}"
                        datetime="yyyy-MM-dd" 
                        [ngModel]="workingFrom | date: 'yyyy-MM-dd'" 
                        (ngModelChange)="workingFrom = $event">
                </div>

                <div class="btn-group" role="group">
                    <button class="btn btn-warning" type="button" style="margin:5px" (click)="fileInput.click()">
                        Wybierz z dysku </button>
                    <i class="fas fa-check"></i>
                </div>
                <input name="photoFileInput" class="form-control" style="display: none;" type="file" id="fileDropRef"
                    (change)="loadPhoto($event.target.files)" #fileInput>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Zapisz</button>
    </div>
</ng-template>