.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: middle;
}

#grid {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }

.workerDisplay{
    width: 330px;
    border: solid 1px black;
}

.workerInfo{
    display: block;
    margin: auto;
    margin-left: 20px;
    margin-top: 15px;
}

.image{
    position: relative;
    object-fit: cover;
    cursor: pointer;
    overflow: hidden;

    .btn.corner-remove-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.3rem;
        width: 50px;  
        z-index: 3;        
    }
    img{
        width: 100%;
    }
    
    &:hover {
        filter: brightness(0.9) drop-shadow(2px 4px 6px black);
        img {
            transform: scale(1.1) !important;
            transition-duration: 3s;
        }
    }
}


.remove-worker-div{
    padding: 10px 20px 10px 20px;
}
.btn.remove-worker-btn{
    width: 100%;
}

.add-new-btn {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 20px;
}
