@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css");

/* div{
font-size: 20px;
} */

a.navbar-brand {
    font-size: 3.5rem;
    color: black;
}

ul.navbar-nav{
    font-size: 1.3rem;
    font-weight: bolder;
    
}
li{
    margin-right: 10px;
}

:host ::ng-deep .row{
    margin: 0;
    width: 100%;
}

.toast-center-center { top: 50%; left: 50%; transform: translate(-50%, -50%); }

:host ::ng-deep .row{
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

:host ::ng-deep .full-width {
    max-width: 100%;
}

:host ::ng-deep .rounded-corners-s {
    border-radius: 0.2cm !important;
}

:host ::ng-deep .accordion>.card{
    border: none !important;
    margin: 5px;
}
:host ::ng-deep .accordion>.card>.card-header{
    font-weight: bold;
}

::ng-deep .btn-link {
    color: #000;
    font-size: 1.3rem;
    font-weight: bold;
}


