img{
    border-radius: 1.5rem;
    width: 100%;
    }

div.container{
    color: whitesmoke;
}

button{
    margin-top:15px;
    border-radius: 1.5rem;
}


.image-wrapper {
    width: 90% !important;
    margin: auto;
    display: block;
    margin-bottom: 25px;
}