<div class="image-wrapper container-fluid">
    <img *ngIf="upperImage; else noUpperImage" src="{{upperImage.path}}">
    
    <button 
        *ngIf="usersService.userHasStarszyEdytorPermission && upperImage" 
        (click)="removePhotoClick(upperImage)" 
        class="btn btn-outline-danger btn-block remove-btn">
        <i class="bi bi-trash-fill"></i> 
    </button>
    
    <ng-template class="upper-image-upload" #noUpperImage>
        <photo-uploader *ngIf="usersService.userHasStarszyEdytorPermission" 
            [target]="coopPanelTarget" 
            [askForComment]="false" 
            [targetWidth]="1900"
            [reloadCallbackFunctionWithPayload] = "reloadCallbackFunctionWithPayload">
        </photo-uploader>
    </ng-template>
</div>


<div class="container">
    <div  *ngIf="!htmlContentPreview; else showEditedTextTemplate" [innerHTML]="mainHtmlInput?.value | unsafeHtmlPipe" ></div>

    <ng-template #showEditedTextTemplate>
        <div [innerHtml]="htmlContentPreviewValue | unsafeHtmlPipe"></div>
    </ng-template>

    <div class="html-editor" *ngIf="usersService.userHasStarszyEdytorPermission">
        <html-custom-editor  
            [(htmlWorkingContent)]="htmlContentPreviewValue"  
            [(showPreviewOutside)]="htmlContentPreview"
            [(htmlInput)]="mainHtmlInput"
            [target]="coopPanelTarget"
        ></html-custom-editor>
    </div>
</div>
